main {
	max-width: 700px;
	margin: auto;
}

h1 {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

img {
	width: 100%;
	height: auto;
}

@media (min-width: 576px) {

	#image3 {
		max-width: 60%;
	}
}

section {
	margin-top: 50px;
	margin-bottom: 100px;
}

table {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
}

td {
	padding: 4px;
	border: 1px solid #e2e2e2;
}

.table-wrapper {
	overflow-y: auto;
}
